{% extends 'index.html' %}

{% block body %}
<br>
<br>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <img src="../static/img/uomogiornale.png">
      </svg>
      <h2>News</h2>
      <p>In the news section the user has the possibility to gather information according to the tickers selected in the Watchlist section. The service provides three news par each ticker added.</p>
      <p><a class="btn btn-secondary" href="/news" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <img src="../static/img/ominoricco.png">
      </svg>
      <h2>Financials</h2>
      <p>The Financial section gives the opportunity to select a company and receive a financial analysis, fulfilled with a brief description of the main company features, as well as the principal KPIs. In addiction is provided a dynamical map which shows where the stocks are listed, and which sector they belong to.</p>
      <p><a class="btn btn-secondary" href="/financials" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <img src="../static/img/icons8-select-users-80.png">
      </svg>
      <h2>Watch List</h2>
      <p>In the watchlist the user has the possibility to replicate his portfolio, having the chance to being provided with the optimal asset allocation, according to Markowitz efficient frontier and also reporting the last year portfolio’s performance.</p>
      <p><a class="btn btn-secondary" href="/personal-area" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Financial Advisor</h2>
      <p class="lead">It is a website designed in order to help investors to have a clear vision and awareness about the current market situation, having the possibility to consult reports to come out with portfolios tailored according to their risk appetite.</p>
    </div>
    <div class="col-md-5">
        <img src="../static/img/plot.png" width="100%" height="100%"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}