{% extends 'index.html' %}

{% block body %}
<header id="showcase">
  <div class="container">
    <div class="showcase-container">
      <div class="showcase-content">
        <div class="category category-sports">Sports</div>
        <h1>Some Sports Article</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus rerum officia quibusdam mollitia deserunt animi soluta laudantium. Quam sapiente a dolorum magnam necessitatibus quis tempore facere totam. Dolor, sequi distinctio!</p>
        <a href="article.html" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}