{% extends 'index.html' %}

{% block body %}
      <h1>Modify your personal Area</h1>
      <form action="" method="POST">
          <label for="fname">Add Ticker to your list:</label>
          <input type="text" id="fname" name="addTicker"><br><br>
          <label for="fname">Delete Ticker from your list:</label>
          <input type="text" id="fname" name="delTicker"><br><br>
          <button type="submit" class="btn btn-primary">Submit</button>         
      </form>

    <div class="container">
        <table class="table table-striped">
            <th>Ticker</th><th>Full name</th>
            {% for t in ticker %}
            <tr>
                <td>{{ t['ticker'] }}</td>
                <td><a href="http://finance.yahoo.com/q?s={{ t['ticker'] }}">{{ t['name'] }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

