{% extends 'index.html' %}

{% block body %}
    <section id="home-articles" class="py-2">
        <div class="container">
            <h2>Your Financial News</h2>
            <div class="articles-container">   
                <div class="chart" id="bargraph">
                    <script>
                        var graphs = {{ plot|safe }};
                        Plotly.plot('bargraph',graphs,{});
                    </script>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}